---
import { Font } from "astro:assets";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<link
	rel="icon"
	type="image/svg+xml"
	href="/favicon.svg"
/>
<link
	rel="icon"
	href="/favicon.ico"
/>
<meta
	name="viewport"
	content="width=device-width,initial-scale=1"
/>
<meta
	name="generator"
	content={Astro.generator}
/>
<title>Abhi Dot Express</title>

<!-- Font Imports -->
<Font cssVariable="--font-display" />
<Font cssVariable="--font-serif" />

<!-- Umami Anonymous Analytics -->
<script
	defer
	src="https://ego.abhi.now/stroke.js"
	data-website-id="0614bc4e-837b-4585-9df1-f50f5955ef29"
	data-domains="abhi.express"
></script>

<!-- RelMeAuth/IndieAuth Tags -->
<link
	href="mailto:contact@abhi.now"
	rel="me"
/>
<link
	href="mailto:hire@abhi.now"
	rel="me"
/>
<link
	href="https://github.com/abhigyantrips"
	rel="me"
/>
<link
	href="https://gitlab.com/abhigyantrips"
	rel="me"
/>
<link
	href="https://indieauth.com/auth"
	rel="authorization_endpoint"
/>

<!-- Sitemap -->
<link
	rel="sitemap"
	href="/sitemap-index.xml"
/>
